In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Total Folder: group-data-by-boro
group_data = pd.read_csv("https://raw.githubusercontent.com/nychealth/coronavirus-data/master/totals/group-data-by-boro.csv")

In [3]:
group_data.head()

,group,subgroup,BK_CASE_COUNT,BK_HOSPITALIZED_COUNT,BK_DEATH_COUNT,BK_CASE_RATE,BK_HOSPITALIZED_RATE,BK_DEATH_RATE,BX_CASE_COUNT,BX_HOSPITALIZED_COUNT,...,QN_DEATH_COUNT,QN_CASE_RATE,QN_HOSPITALIZED_RATE,QN_DEATH_RATE,SI_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_CASE_RATE,SI_HOSPITALIZED_RATE,SI_DEATH_RATE
0,Boroughwide,Boroughwide,213103.0,29781.0,8047.0,8324.65,1163.36,314.35,142304.0,21770.0,...,8138.0,9460.58,1344.27,361.07,57486.0,5468.0,1518.0,12073.26,1148.39,318.81
1,Age,0-4,5127.0,231.0,NaN,2802.77,126.28,NaN,3247.0,168.0,...,NaN,3135.05,107.22,NaN,1301.0,31.0,NaN,4756.16,113.33,NaN
2,Age,5-12,11251.0,142.0,NaN,4465.12,56.35,NaN,7152.0,91.0,...,NaN,4759.11,41.85,NaN,3098.0,15.0,NaN,6770.85,32.78,NaN
3,Age,13-17,8428.0,148.0,NaN,6013.05,105.59,NaN,5246.0,121.0,...,NaN,6353.23,99.31,NaN,2824.0,28.0,NaN,9455.57,93.75,NaN
4,Age,0-17,NaN,NaN,8.0,NaN,NaN,1.39,NaN,NaN,...,5.0,NaN,NaN,1.12,NaN,NaN,2.0,NaN,NaN,1.94

Checking which columns have missing values and what rows I will keep

In [4]:
group_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   group                  18 non-null     object
 1   subgroup               18 non-null     object
 2   BK_CASE_COUNT          17 non-null     float64
 3   BK_HOSPITALIZED_COUNT  17 non-null     float64
 4   BK_DEATH_COUNT         15 non-null     float64
 5   BK_CASE_RATE           17 non-null     float64
 6   BK_HOSPITALIZED_RATE   17 non-null     float64
 7   BK_DEATH_RATE          15 non-null     float64
 8   BX_CASE_COUNT          17 non-null     float64
 9   BX_HOSPITALIZED_COUNT  17 non-null     float64
 10  BX_DEATH_COUNT         15 non-null     float64
 11  BX_CASE_RATE           17 non-null     float64
 12  BX_HOSPITALIZED_RATE   17 non-null     float64
 13  BX_DEATH_RATE          15 non-null     float64
 14  MN_CASE_COUNT          17 non-null     float64
 15  MN_HOSPITALIZED_COUNT  17 non-null     float64
 16  MN_DEATH_COUNT         15 non-null     float64
 17  MN_CASE_RATE           17 non-null     float64
 18  MN_HOSPITALIZED_RATE   17 non-null     float64
 19  MN_DEATH_RATE          15 non-null     float64
 20  QN_CASE_COUNT          17 non-null     float64
 21  QN_HOSPITALIZED_COUNT  17 non-null     float64
 22  QN_DEATH_COUNT         15 non-null     float64
 23  QN_CASE_RATE           17 non-null     float64
 24  QN_HOSPITALIZED_RATE   17 non-null     float64
 25  QN_DEATH_RATE          15 non-null     float64
 26  SI_CASE_COUNT          17 non-null     float64
 27  SI_HOSPITALIZED_COUNT  17 non-null     float64
 28  SI_DEATH_COUNT         15 non-null     float64
 29  SI_CASE_RATE           17 non-null     float64
 30  SI_HOSPITALIZED_RATE   17 non-null     float64
 31  SI_DEATH_RATE          15 non-null     float64
dtypes: float64(30), object(2)
memory usage: 4.6+ KB

I intent to keep the category 0-17 but since it has a lot of missing values, I will find them in by adding the rows above. For example: For 'BK_CASE_COUNT' 0-17 na row, I will add rows: 0-4,5-12 and 13-17.

In [5]:
group_data = group_data.fillna((group_data[group_data['group']=='Age'][:3].sum()))

In [6]:
group_data.head()

,group,subgroup,BK_CASE_COUNT,BK_HOSPITALIZED_COUNT,BK_DEATH_COUNT,BK_CASE_RATE,BK_HOSPITALIZED_RATE,BK_DEATH_RATE,BX_CASE_COUNT,BX_HOSPITALIZED_COUNT,...,QN_DEATH_COUNT,QN_CASE_RATE,QN_HOSPITALIZED_RATE,QN_DEATH_RATE,SI_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_CASE_RATE,SI_HOSPITALIZED_RATE,SI_DEATH_RATE
0,Boroughwide,Boroughwide,213103.0,29781.0,8047.0,8324.65,1163.36,314.35,142304.0,21770.0,...,8138.0,9460.58,1344.27,361.07,57486.0,5468.0,1518.0,12073.26,1148.39,318.81
1,Age,0-4,5127.0,231.0,0.0,2802.77,126.28,0.00,3247.0,168.0,...,0.0,3135.05,107.22,0.00,1301.0,31.0,0.0,4756.16,113.33,0.00
2,Age,5-12,11251.0,142.0,0.0,4465.12,56.35,0.00,7152.0,91.0,...,0.0,4759.11,41.85,0.00,3098.0,15.0,0.0,6770.85,32.78,0.00
3,Age,13-17,8428.0,148.0,0.0,6013.05,105.59,0.00,5246.0,121.0,...,0.0,6353.23,99.31,0.00,2824.0,28.0,0.0,9455.57,93.75,0.00
4,Age,0-17,24806.0,521.0,8.0,13280.94,288.22,1.39,15645.0,380.0,...,5.0,14247.39,248.38,1.12,7223.0,74.0,2.0,20982.58,239.86,1.94

Now that the row 0-17 is full, I will drop the repeated categories(0-4,5-12 and 13-17) as well as the columns I won't be using

In [7]:
group_data.drop([1,2,3],inplace=True)

In [8]:
group_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 17
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   group                  15 non-null     object
 1   subgroup               15 non-null     object
 2   BK_CASE_COUNT          15 non-null     float64
 3   BK_HOSPITALIZED_COUNT  15 non-null     float64
 4   BK_DEATH_COUNT         15 non-null     float64
 5   BK_CASE_RATE           15 non-null     float64
 6   BK_HOSPITALIZED_RATE   15 non-null     float64
 7   BK_DEATH_RATE          15 non-null     float64
 8   BX_CASE_COUNT          15 non-null     float64
 9   BX_HOSPITALIZED_COUNT  15 non-null     float64
 10  BX_DEATH_COUNT         15 non-null     float64
 11  BX_CASE_RATE           15 non-null     float64
 12  BX_HOSPITALIZED_RATE   15 non-null     float64
 13  BX_DEATH_RATE          15 non-null     float64
 14  MN_CASE_COUNT          15 non-null     float64
 15  MN_HOSPITALIZED_COUNT  15 non-null     float64
 16  MN_DEATH_COUNT         15 non-null     float64
 17  MN_CASE_RATE           15 non-null     float64
 18  MN_HOSPITALIZED_RATE   15 non-null     float64
 19  MN_DEATH_RATE          15 non-null     float64
 20  QN_CASE_COUNT          15 non-null     float64
 21  QN_HOSPITALIZED_COUNT  15 non-null     float64
 22  QN_DEATH_COUNT         15 non-null     float64
 23  QN_CASE_RATE           15 non-null     float64
 24  QN_HOSPITALIZED_RATE   15 non-null     float64
 25  QN_DEATH_RATE          15 non-null     float64
 26  SI_CASE_COUNT          15 non-null     float64
 27  SI_HOSPITALIZED_COUNT  15 non-null     float64
 28  SI_DEATH_COUNT         15 non-null     float64
 29  SI_CASE_RATE           15 non-null     float64
 30  SI_HOSPITALIZED_RATE   15 non-null     float64
 31  SI_DEATH_RATE          15 non-null     float64
dtypes: float64(30), object(2)
memory usage: 3.9+ KB

In [22]:
for col in group_data.columns:
    if "RATE" in col or "HOSPITALIZED_COUNT" in col:
        group_data = group_data.drop(col, axis=1)

BK_HOSPITALIZED_COUNT
BX_HOSPITALIZED_COUNT
MN_HOSPITALIZED_COUNT
QN_HOSPITALIZED_COUNT
SI_HOSPITALIZED_COUNT

In [23]:
group_data = group_data[group_data['group']=='Age']

In [24]:
group_data

,group,subgroup,BK_CASE_COUNT,BK_DEATH_COUNT,BX_CASE_COUNT,BX_DEATH_COUNT,MN_CASE_COUNT,MN_DEATH_COUNT,QN_CASE_COUNT,QN_DEATH_COUNT,SI_CASE_COUNT,SI_DEATH_COUNT
4,Age,0-17,24806.0,8.0,15645.0,6.0,8622.0,2.0,20915.0,5.0,7223.0,2.0
5,Age,18-24,19326.0,18.0,12767.0,8.0,10713.0,3.0,18041.0,7.0,6173.0,5.0
6,Age,25-34,39865.0,71.0,25058.0,61.0,22765.0,21.0,37761.0,71.0,9851.0,12.0
7,Age,35-44,33109.0,167.0,22149.0,158.0,15029.0,59.0,34948.0,227.0,8783.0,33.0
8,Age,45-54,29607.0,499.0,22680.0,381.0,13357.0,151.0,35064.0,522.0,9107.0,90.0
9,Age,55-64,29397.0,1162.0,21600.0,932.0,13282.0,395.0,33019.0,1362.0,8383.0,181.0
10,Age,65-74,20534.0,2010.0,12592.0,1375.0,8977.0,781.0,18930.0,2010.0,4518.0,358.0
11,Age,75+,16266.0,4112.0,9609.0,2435.0,8937.0,2152.0,14415.0,3934.0,3431.0,837.0

In [26]:
group_data["BK_FATALITY_RATE"] =  group_data["BK_DEATH_COUNT"]/group_data["BK_CASE_COUNT"]

In [27]:
group_data["BX_FATALITY_RATE"] =  group_data["BX_DEATH_COUNT"]/group_data["BX_CASE_COUNT"]

In [28]:
group_data["MN_FATALITY_RATE"] =  group_data["MN_DEATH_COUNT"]/group_data["MN_CASE_COUNT"]

In [29]:
group_data["QN_FATALITY_RATE"] =  group_data["QN_DEATH_COUNT"]/group_data["QN_CASE_COUNT"]

In [34]:
group_data["SI_FATALITY_RATE"] =  group_data["SI_DEATH_COUNT"]/group_data["SI_CASE_COUNT"]

In [35]:
group_data

,group,subgroup,BK_CASE_COUNT,BK_DEATH_COUNT,BX_CASE_COUNT,BX_DEATH_COUNT,MN_CASE_COUNT,MN_DEATH_COUNT,QN_CASE_COUNT,QN_DEATH_COUNT,SI_CASE_COUNT,SI_DEATH_COUNT,BK_FATALITY_RATE,BX_FATALITY_RATE,MN_FATALITY_RATE,QN_FATALITY_RATE,SI_FATALITY_RATE
4,Age,0-17,24806.0,8.0,15645.0,6.0,8622.0,2.0,20915.0,5.0,7223.0,2.0,0.000323,0.000384,0.000232,0.000239,0.000277
5,Age,18-24,19326.0,18.0,12767.0,8.0,10713.0,3.0,18041.0,7.0,6173.0,5.0,0.000931,0.000627,0.000280,0.000388,0.000810
6,Age,25-34,39865.0,71.0,25058.0,61.0,22765.0,21.0,37761.0,71.0,9851.0,12.0,0.001781,0.002434,0.000922,0.001880,0.001218
7,Age,35-44,33109.0,167.0,22149.0,158.0,15029.0,59.0,34948.0,227.0,8783.0,33.0,0.005044,0.007134,0.003926,0.006495,0.003757
8,Age,45-54,29607.0,499.0,22680.0,381.0,13357.0,151.0,35064.0,522.0,9107.0,90.0,0.016854,0.016799,0.011305,0.014887,0.009883
9,Age,55-64,29397.0,1162.0,21600.0,932.0,13282.0,395.0,33019.0,1362.0,8383.0,181.0,0.039528,0.043148,0.029739,0.041249,0.021591
10,Age,65-74,20534.0,2010.0,12592.0,1375.0,8977.0,781.0,18930.0,2010.0,4518.0,358.0,0.097886,0.109196,0.087000,0.106181,0.079239
11,Age,75+,16266.0,4112.0,9609.0,2435.0,8937.0,2152.0,14415.0,3934.0,3431.0,837.0,0.252797,0.253408,0.240797,0.272910,0.243952

In [32]:
#Trends Folder: data by day
data_day =pd.read_csv("https://raw.githubusercontent.com/nychealth/coronavirus-data/master/trends/data-by-day.csv")

In [33]:
data_day

,date_of_interest,CASE_COUNT,PROBABLE_CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT,PROBABLE_DEATH_COUNT,CASE_COUNT_7DAY_AVG,ALL_CASE_COUNT_7DAY_AVG,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,...,SI_PROBABLE_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_PROBABLE_DEATH_COUNT,SI_CASE_COUNT_7DAY_AVG,SI_ALL_CASE_COUNT_7DAY_AVG,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,SI_ALL_DEATH_COUNT_7DAY_AVG,INCOMPLETE
0,02/29/2020,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,03/01/2020,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03/02/2020,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,03/03/2020,1,0,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,03/04/2020,5,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,04/02/2021,2420,860,222,50,5,2640,3605,228,50,...,64,17,2,0,226,295,15,3,3,11000
399,04/03/2021,1918,628,195,41,7,2604,3537,221,48,...,41,6,0,0,224,288,14,3,3,11000
400,04/04/2021,1350,633,169,33,13,2557,3471,219,45,...,52,12,2,0,221,285,14,2,2,11000
401,04/05/2021,2911,1010,157,34,19,2487,3365,204,43,...,69,10,4,0,216,274,13,3,3,11000
402,04/06/2021,2277,1006,12,21,22,2378,3249,173,41,...,76,0,3,0,210,272,11,3,3,11000

In [ ]:
data_day.info()

In [ ]:
#Totals Folder: by_boro
totals_boro = pd.read_csv("https://raw.githubusercontent.com/nychealth/coronavirus-data/master/totals/by-boro.csv")

In [ ]:
totals_boro