In [30]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
#Total Folder: group-data-by-boro
group_data = pd.read_csv("https://raw.githubusercontent.com/nychealth/coronavirus-data/master/totals/group-data-by-boro.csv")

In [32]:
group_data.head()

,group,subgroup,BK_CASE_COUNT,BK_HOSPITALIZED_COUNT,BK_DEATH_COUNT,BK_CASE_RATE,BK_HOSPITALIZED_RATE,BK_DEATH_RATE,BX_CASE_COUNT,BX_HOSPITALIZED_COUNT,...,QN_DEATH_COUNT,QN_CASE_RATE,QN_HOSPITALIZED_RATE,QN_DEATH_RATE,SI_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_CASE_RATE,SI_HOSPITALIZED_RATE,SI_DEATH_RATE
0,Boroughwide,Boroughwide,210455.0,29488.0,8000.0,8221.21,1151.92,312.51,140980.0,21613.0,...,8088.0,9349.04,1333.40,358.85,56654.0,5431.0,1504.0,11898.53,1140.62,315.87
1,Age,0-4,5023.0,228.0,NaN,2745.92,124.64,NaN,3200.0,166.0,...,NaN,3078.16,105.04,NaN,1272.0,31.0,NaN,4650.14,113.33,NaN
2,Age,5-12,10982.0,142.0,NaN,4358.36,56.35,NaN,7017.0,89.0,...,NaN,4671.83,40.83,NaN,3016.0,15.0,NaN,6591.64,32.78,NaN
3,Age,13-17,8274.0,147.0,NaN,5903.18,104.88,NaN,5149.0,119.0,...,NaN,6237.37,98.44,NaN,2760.0,28.0,NaN,9241.28,93.75,NaN
4,Age,0-17,NaN,NaN,8.0,NaN,NaN,1.39,NaN,NaN,...,5.0,NaN,NaN,1.12,NaN,NaN,2.0,NaN,NaN,1.94

Checking which columns have missing values and what rows I will keep

In [33]:
group_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   group                  18 non-null     object
 1   subgroup               18 non-null     object
 2   BK_CASE_COUNT          17 non-null     float64
 3   BK_HOSPITALIZED_COUNT  17 non-null     float64
 4   BK_DEATH_COUNT         15 non-null     float64
 5   BK_CASE_RATE           17 non-null     float64
 6   BK_HOSPITALIZED_RATE   17 non-null     float64
 7   BK_DEATH_RATE          15 non-null     float64
 8   BX_CASE_COUNT          17 non-null     float64
 9   BX_HOSPITALIZED_COUNT  17 non-null     float64
 10  BX_DEATH_COUNT         15 non-null     float64
 11  BX_CASE_RATE           17 non-null     float64
 12  BX_HOSPITALIZED_RATE   17 non-null     float64
 13  BX_DEATH_RATE          15 non-null     float64
 14  MN_CASE_COUNT          17 non-null     float64
 15  MN_HOSPITALIZED_COUNT  17 non-null     float64
 16  MN_DEATH_COUNT         15 non-null     float64
 17  MN_CASE_RATE           17 non-null     float64
 18  MN_HOSPITALIZED_RATE   17 non-null     float64
 19  MN_DEATH_RATE          15 non-null     float64
 20  QN_CASE_COUNT          17 non-null     float64
 21  QN_HOSPITALIZED_COUNT  17 non-null     float64
 22  QN_DEATH_COUNT         15 non-null     float64
 23  QN_CASE_RATE           17 non-null     float64
 24  QN_HOSPITALIZED_RATE   17 non-null     float64
 25  QN_DEATH_RATE          15 non-null     float64
 26  SI_CASE_COUNT          17 non-null     float64
 27  SI_HOSPITALIZED_COUNT  17 non-null     float64
 28  SI_DEATH_COUNT         15 non-null     float64
 29  SI_CASE_RATE           17 non-null     float64
 30  SI_HOSPITALIZED_RATE   17 non-null     float64
 31  SI_DEATH_RATE          15 non-null     float64
dtypes: float64(30), object(2)
memory usage: 4.6+ KB

I intent to keep the category 0-17 but since it has a lot of missing values, I will find them in by adding the rows above. For example: For 'BK_CASE_COUNT' 0-17 na row, I will add rows: 0-4,5-12 and 13-17.

In [34]:
group_data = group_data.fillna((group_data[group_data['group']=='Age'][:3].sum()))

In [35]:
group_data.head()

,group,subgroup,BK_CASE_COUNT,BK_HOSPITALIZED_COUNT,BK_DEATH_COUNT,BK_CASE_RATE,BK_HOSPITALIZED_RATE,BK_DEATH_RATE,BX_CASE_COUNT,BX_HOSPITALIZED_COUNT,...,QN_DEATH_COUNT,QN_CASE_RATE,QN_HOSPITALIZED_RATE,QN_DEATH_RATE,SI_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_CASE_RATE,SI_HOSPITALIZED_RATE,SI_DEATH_RATE
0,Boroughwide,Boroughwide,210455.0,29488.0,8000.0,8221.21,1151.92,312.51,140980.0,21613.0,...,8088.0,9349.04,1333.40,358.85,56654.0,5431.0,1504.0,11898.53,1140.62,315.87
1,Age,0-4,5023.0,228.0,0.0,2745.92,124.64,0.00,3200.0,166.0,...,0.0,3078.16,105.04,0.00,1272.0,31.0,0.0,4650.14,113.33,0.00
2,Age,5-12,10982.0,142.0,0.0,4358.36,56.35,0.00,7017.0,89.0,...,0.0,4671.83,40.83,0.00,3016.0,15.0,0.0,6591.64,32.78,0.00
3,Age,13-17,8274.0,147.0,0.0,5903.18,104.88,0.00,5149.0,119.0,...,0.0,6237.37,98.44,0.00,2760.0,28.0,0.0,9241.28,93.75,0.00
4,Age,0-17,24279.0,517.0,8.0,13007.46,285.87,1.39,15366.0,374.0,...,5.0,13987.36,244.31,1.12,7048.0,74.0,2.0,20483.06,239.86,1.94

Now that the row 0-17 is full, I will drop the repeated categories(0-4,5-12 and 13-17) as well as the columns I won't be using

In [36]:
group_data.drop([1,2,3],inplace=True)

In [38]:
group_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 17
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   group                  15 non-null     object
 1   subgroup               15 non-null     object
 2   BK_CASE_COUNT          15 non-null     float64
 3   BK_HOSPITALIZED_COUNT  15 non-null     float64
 4   BK_DEATH_COUNT         15 non-null     float64
 5   BK_CASE_RATE           15 non-null     float64
 6   BK_HOSPITALIZED_RATE   15 non-null     float64
 7   BK_DEATH_RATE          15 non-null     float64
 8   BX_CASE_COUNT          15 non-null     float64
 9   BX_HOSPITALIZED_COUNT  15 non-null     float64
 10  BX_DEATH_COUNT         15 non-null     float64
 11  BX_CASE_RATE           15 non-null     float64
 12  BX_HOSPITALIZED_RATE   15 non-null     float64
 13  BX_DEATH_RATE          15 non-null     float64
 14  MN_CASE_COUNT          15 non-null     float64
 15  MN_HOSPITALIZED_COUNT  15 non-null     float64
 16  MN_DEATH_COUNT         15 non-null     float64
 17  MN_CASE_RATE           15 non-null     float64
 18  MN_HOSPITALIZED_RATE   15 non-null     float64
 19  MN_DEATH_RATE          15 non-null     float64
 20  QN_CASE_COUNT          15 non-null     float64
 21  QN_HOSPITALIZED_COUNT  15 non-null     float64
 22  QN_DEATH_COUNT         15 non-null     float64
 23  QN_CASE_RATE           15 non-null     float64
 24  QN_HOSPITALIZED_RATE   15 non-null     float64
 25  QN_DEATH_RATE          15 non-null     float64
 26  SI_CASE_COUNT          15 non-null     float64
 27  SI_HOSPITALIZED_COUNT  15 non-null     float64
 28  SI_DEATH_COUNT         15 non-null     float64
 29  SI_CASE_RATE           15 non-null     float64
 30  SI_HOSPITALIZED_RATE   15 non-null     float64
 31  SI_DEATH_RATE          15 non-null     float64
dtypes: float64(30), object(2)
memory usage: 3.9+ KB

In [ ]:
group_data

In [13]:
#Total Folder: by_age
totals_age = pd.read_csv("https://raw.githubusercontent.com/nychealth/coronavirus-data/master/totals/by-age.csv")

In [14]:
totals_age

,AGE_GROUP,CASE_RATE,HOSPITALIZED_RATE,DEATH_RATE,CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT
0,0-4,2977.94,121.63,NaN,15596.0,637.0,NaN
1,5-12,4509.61,49.49,NaN,33712.0,370.0,NaN
2,13-17,5989.20,107.20,NaN,25924.0,464.0,NaN
3,0-17,NaN,NaN,1.35,NaN,NaN,23.0
4,18-24,9331.59,315.61,5.82,65757.0,2224.0,41.0
5,25-34,8964.62,444.77,15.91,133008.0,6599.0,236.0
6,35-44,9876.01,721.43,56.21,112281.0,8202.0,639.0
7,45-54,10532.09,1190.37,158.55,108279.0,12238.0,1630.0
8,55-64,10451.91,1995.54,399.53,104407.0,19934.0,3991.0
9,65-74,9030.11,3032.02,903.04,64908.0,21794.0,6491.0
10,75+,9299.87,5025.02,2382.08,52229.0,28221.0,13378.0
11,Citywide,8597.72,1207.84,317.03,716776.0,100695.0,26430.0

In [22]:
group_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   group                  18 non-null     object
 1   subgroup               18 non-null     object
 2   BK_CASE_COUNT          17 non-null     float64
 3   BK_HOSPITALIZED_COUNT  17 non-null     float64
 4   BK_DEATH_COUNT         15 non-null     float64
 5   BK_CASE_RATE           17 non-null     float64
 6   BK_HOSPITALIZED_RATE   17 non-null     float64
 7   BK_DEATH_RATE          15 non-null     float64
 8   BX_CASE_COUNT          17 non-null     float64
 9   BX_HOSPITALIZED_COUNT  17 non-null     float64
 10  BX_DEATH_COUNT         15 non-null     float64
 11  BX_CASE_RATE           17 non-null     float64
 12  BX_HOSPITALIZED_RATE   17 non-null     float64
 13  BX_DEATH_RATE          15 non-null     float64
 14  MN_CASE_COUNT          17 non-null     float64
 15  MN_HOSPITALIZED_COUNT  17 non-null     float64
 16  MN_DEATH_COUNT         15 non-null     float64
 17  MN_CASE_RATE           17 non-null     float64
 18  MN_HOSPITALIZED_RATE   17 non-null     float64
 19  MN_DEATH_RATE          15 non-null     float64
 20  QN_CASE_COUNT          17 non-null     float64
 21  QN_HOSPITALIZED_COUNT  17 non-null     float64
 22  QN_DEATH_COUNT         15 non-null     float64
 23  QN_CASE_RATE           17 non-null     float64
 24  QN_HOSPITALIZED_RATE   17 non-null     float64
 25  QN_DEATH_RATE          15 non-null     float64
 26  SI_CASE_COUNT          17 non-null     float64
 27  SI_HOSPITALIZED_COUNT  17 non-null     float64
 28  SI_DEATH_COUNT         15 non-null     float64
 29  SI_CASE_RATE           17 non-null     float64
 30  SI_HOSPITALIZED_RATE   17 non-null     float64
 31  SI_DEATH_RATE          15 non-null     float64
dtypes: float64(30), object(2)
memory usage: 4.6+ KB

In [2]:
#Totals Folder: probable-confirmed-by-age
death_age = pd.read_csv("https://raw.githubusercontent.com/nychealth/coronavirus-data/master/totals/probable-confirmed-by-age.csv")

In [10]:
#Trends Folder: data by day
data_day =pd.read_csv("https://raw.githubusercontent.com/nychealth/coronavirus-data/master/trends/data-by-day.csv")

In [11]:
data_day

,date_of_interest,CASE_COUNT,PROBABLE_CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT,PROBABLE_DEATH_COUNT,CASE_COUNT_7DAY_AVG,ALL_CASE_COUNT_7DAY_AVG,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,...,SI_PROBABLE_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_PROBABLE_DEATH_COUNT,SI_CASE_COUNT_7DAY_AVG,SI_ALL_CASE_COUNT_7DAY_AVG,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,SI_ALL_DEATH_COUNT_7DAY_AVG,INCOMPLETE
0,02/29/2020,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,03/01/2020,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03/02/2020,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,03/03/2020,1,0,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,03/04/2020,5,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,03/29/2021,3259,1286,235,42,10,2837,3953,241,52,...,115,14,1,0,231,310,16,4,4,11000
395,03/30/2021,2908,1063,211,30,12,2812,3914,235,49,...,52,15,0,0,234,310,16,3,3,11000
396,03/31/2021,2923,1023,218,44,19,2762,3835,231,50,...,76,16,5,0,232,307,15,3,3,11000
397,04/01/2021,2411,875,145,36,20,2601,3614,214,45,...,48,11,3,0,224,293,15,3,3,11000
398,04/02/2021,1777,846,12,29,21,2408,3377,177,40,...,75,1,1,0,208,279,11,2,2,11000

In [12]:
data_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 62 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   date_of_interest                399 non-null    object
 1   CASE_COUNT                      399 non-null    int64
 2   PROBABLE_CASE_COUNT             399 non-null    int64
 3   HOSPITALIZED_COUNT              399 non-null    int64
 4   DEATH_COUNT                     399 non-null    int64
 5   PROBABLE_DEATH_COUNT            399 non-null    int64
 6   CASE_COUNT_7DAY_AVG             399 non-null    int64
 7   ALL_CASE_COUNT_7DAY_AVG         399 non-null    int64
 8   HOSP_COUNT_7DAY_AVG             399 non-null    int64
 9   DEATH_COUNT_7DAY_AVG            399 non-null    int64
 10  ALL_DEATH_COUNT_7DAY_AVG        399 non-null    int64
 11  BX_CASE_COUNT                   399 non-null    int64
 12  BX_PROBABLE_CASE_COUNT          399 non-null    int64
 13  BX_HOSPITALIZED_COUNT           399 non-null    int64
 14  BX_DEATH_COUNT                  399 non-null    int64
 15  BX_PROBABLE_DEATH_COUNT         399 non-null    int64
 16  BX_CASE_COUNT_7DAY_AVG          399 non-null    int64
 17  BX_ALL_CASE_COUNT_7DAY_AVG      399 non-null    int64
 18  BX_HOSPITALIZED_COUNT_7DAY_AVG  399 non-null    int64
 19  BX_DEATH_COUNT_7DAY_AVG         399 non-null    int64
 20  BX_ALL_DEATH_COUNT_7DAY_AVG     399 non-null    int64
 21  BK_CASE_COUNT                   399 non-null    int64
 22  BK_PROBABLE_CASE_COUNT          399 non-null    int64
 23  BK_HOSPITALIZED_COUNT           399 non-null    int64
 24  BK_DEATH_COUNT                  399 non-null    int64
 25  BK_PROBABLE_DEATH_COUNT         399 non-null    int64
 26  BK_CASE_COUNT_7DAY_AVG          399 non-null    int64
 27  BK_ALL_CASE_COUNT_7DAY_AVG      399 non-null    int64
 28  BK_HOSPITALIZED_COUNT_7DAY_AVG  399 non-null    int64
 29  BK_DEATH_COUNT_7DAY_AVG         399 non-null    int64
 30  BK_ALL_DEATH_COUNT_7DAY_AVG     399 non-null    int64
 31  MN_CASE_COUNT                   399 non-null    int64
 32  MN_PROBABLE_CASE_COUNT          399 non-null    int64
 33  MN_HOSPITALIZED_COUNT           399 non-null    int64
 34  MN_DEATH_COUNT                  399 non-null    int64
 35  MN_PROBABLE_DEATH_COUNT         399 non-null    int64
 36  MN_CASE_COUNT_7DAY_AVG          399 non-null    int64
 37  MN_ALL_CASE_COUNT_7DAY_AVG      399 non-null    int64
 38  MN_HOSPITALIZED_COUNT_7DAY_AVG  399 non-null    int64
 39  MN_DEATH_COUNT_7DAY_AVG         399 non-null    int64
 40  MN_ALL_DEATH_COUNT_7DAY_AVG     399 non-null    int64
 41  QN_CASE_COUNT                   399 non-null    int64
 42  QN_PROBABLE_CASE_COUNT          399 non-null    int64
 43  QN_HOSPITALIZED_COUNT           399 non-null    int64
 44  QN_DEATH_COUNT                  399 non-null    int64
 45  QN_PROBABLE_DEATH_COUNT         399 non-null    int64
 46  QN_CASE_COUNT_7DAY_AVG          399 non-null    int64
 47  QN_ALL_CASE_COUNT_7DAY_AVG      399 non-null    int64
 48  QN_HOSPITALIZED_COUNT_7DAY_AVG  399 non-null    int64
 49  QN_DEATH_COUNT_7DAY_AVG         399 non-null    int64
 50  QN_ALL_DEATH_COUNT_7DAY_AVG     399 non-null    int64
 51  SI_CASE_COUNT                   399 non-null    int64
 52  SI_PROBABLE_CASE_COUNT          399 non-null    int64
 53  SI_HOSPITALIZED_COUNT           399 non-null    int64
 54  SI_DEATH_COUNT                  399 non-null    int64
 55  SI_PROBABLE_DEATH_COUNT         399 non-null    int64
 56  SI_CASE_COUNT_7DAY_AVG          399 non-null    int64
 57  SI_ALL_CASE_COUNT_7DAY_AVG      399 non-null    int64
 58  SI_HOSPITALIZED_COUNT_7DAY_AVG  399 non-null    int64
 59  SI_DEATH_COUNT_7DAY_AVG         399 non-null    int64
 60  SI_ALL_DEATH_COUNT_7DAY_AVG     399 non-null    int64
 61  INCOMPLETE                      399 non-null    int64
dtypes: int64(61), object(1)
memory usage: 193.4+ KB

In [16]:
#Totals Folder: by_boro
totals_boro = pd.read_csv("https://raw.githubusercontent.com/nychealth/coronavirus-data/master/totals/by-boro.csv")

In [17]:
totals_boro

,BOROUGH_GROUP,CASE_RATE,HOSPITALIZED_RATE,DEATH_RATE,CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT
0,Bronx,9911.39,1519.67,374.84,140564,21552,5316
1,Brooklyn,8184.61,1149.61,312.12,209518,29429,7990
2,Manhattan,6161.15,878.73,217.47,100347,14312,3542
3,Queens,9311.23,1330.52,358.45,209862,29988,8079
4,StatenIsland,11852.32,1136.84,315.66,56434,5413,1503
5,Citywide,8597.72,1207.84,317.03,716776,100695,26430